#inside-frame{
    display: flex;
    justify-content: center;
    align-items: center;
}
.draw{
background-color: #008000;
color: white;
    border-radius: 5px;
}
#fixed-frame{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: yellow;
}
#submit{
    color: white;
    background-color: green;
    border-radius: 5px;
}
#pic-1,#pic-2,#pic-3,#pic-4,#pic-5{
    border: 2px solid black;
    border-radius: 10px;
}
#play-again{
    background-color: green;
    color: white;
    border-radius: 5px;
}
#display-board{
    padding: 10px;
}

